---
name: test syntax

on:
  # Runs on pull requests targeting the default branch
  pull_request:
    branches: [main]

# Sets permissions of the GITHUB_TOKEN
permissions:
  contents: read

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  # Build job
  syntax-check:
    runs-on: ubuntu-latest
    env:
      # renovate: datasource=github-releases depName=gohugoio/hugo
      HUGO_VERSION: 0.140.2
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb
      - name: Install Dart Sass
        run: sudo snap install dart-sass

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          submodules: recursive

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5

      - name: Install Node.js dependencies
        run: "[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true"

      - name: Build with Hugo
        env:
          # For maximum backward compatibility with Hugo modules
          HUGO_ENVIRONMENT: testing
          HUGO_ENV: testing
        run: |
          hugo --minify --baseURL "${{ steps.pages.outputs.base_url }}/"

      - name: (British/American) English test
        # Content should be written in American English. Test all content against
        # British English spelling list from:
        # http://www.tysto.com/uk-us-spelling-list.html'
        shell: bash
        run: .github/workflows/english_test.sh

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@f796c8b7d468feb9b8c0a46da3fac0af6874d374 # for v1.9.0
        with:
          args: "--cookie-jar /tmp/lychee-cookies './content/**/*.md'"
          jobSummary: true
